{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h2>DOGPICS</h2>
	<a href="/"><img src="{{ dog }}" width="100%"></a>
	<br>
	<i>Source: <a href="{{ srclink }}">Imgur // {{srclink}} </a></i>
	<br>
	<a href="/" class="btn btn-lg btn-primary">That's a good doggo!</a>
    </div>
</div>
<br><hr><br>
<div class="row">
	<div class="col-md-12">
	<p>
		Welcome to DOGPICS! Our app is powered by Python+Flask, Imgur, IBM Watson Visual Recognition, and Google Cloud Platform.
	</p>

	<p>
		We use IBM Watson to recognize if new pictures uploaded to Imgur feature a dog, and if so, we display them here!  Dog lovers are sure to enjoy our good good boys.  
	</p>
	</div>
</div>


<br>
<!-- DEBUG: {{ debug }} -->
<br>

{% endblock %}
