{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h2>Report | DOGPICS</h2>
	<h3>You have selected that this is not a dog.  Are you sure? </h3>
	<i>Source: <a href="{{ srclink }}">Imgur // {{srclink}} </a></i>
	<br>
	<form action="{{ url_for('reportConfirm') }}" method="post">
        <button type="submit" class="btn btn-lg btn-danger">Confirm that this is not a dog!</button>
        <input type="hidden" name="reportimg" value="{{ dog }}">
        <input type="hidden" name="reporturl" value="{{ srclink }}">
        </form>
	<a href="/" class="btn btn-lg btn-primary">oops, nvm, it's a dog</a>
    </div>
</div>
<br><hr><br>
<div class="row">
	<div class="col-md-12">
	<p>
		Welcome to DOGPICS! Our app is powered by Python+Flask, Imgur, IBM Watson Visual Recognition, and Google Cloud Platform.
	</p>

	<p>
		We use IBM Watson to recognize if new pictures uploaded to Imgur feature a dog, and if so, we display them here!  Dog lovers are sure to enjoy our good good boys.  
	</p>
	</div>
</div>


<br>
<!-- DEBUG: {{ debug }} -->
<br>

{% endblock %}
